.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(169, 164, 164, 0.5);
}

.carousel-image {
  height: 400px;
}

.carousel-text {
  color: rgb(77, 54, 38);
  text-align: left;
}

a {
  text-decoration: none;
}
